USE [master]
GO
/****** Object:  Database [uploads]    Script Date: 10/31/2016 10:37:27 AM ******/
CREATE DATABASE [uploads]

ALTER DATABASE [uploads] SET COMPATIBILITY_LEVEL = 120
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [uploads].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [uploads]
GO

/****** Object:  Table [dbo].[images]    Script Date: 10/31/2016 10:37:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[images](
	[src] [text] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
