USE [master]
GO
/****** Object:  Database [todos]    Script Date: 10/26/2016 7:31:00 AM ******/
CREATE DATABASE [todos]
 CONTAINMENT = NONE

ALTER DATABASE [todos] SET COMPATIBILITY_LEVEL = 120
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [todos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [todos]
GO
/****** Object:  Table [dbo].[items]    Script Date: 10/26/2016 7:31:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items](
	[name] [text] NULL,
	[description] [text] NULL,
	[completed] [int] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY] 

INSERT INTO [dbo].[items] (name, description, completed)
VALUES ('task1', 'do something', 1), ('task2', 'walk a dog', 0), ('something to do', 'do some work', 0)

GO
USE [master]
GO
