USE [master]
GO
/****** Object:  Database [demo]    Script Date: 10/26/2016 7:24:54 AM ******/
CREATE DATABASE [demo]

ALTER DATABASE [demo] SET COMPATIBILITY_LEVEL = 120
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [demo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO


USE [demo]
GO
/****** Object:  Table [dbo].[items]    Script Date: 10/26/2016 7:24:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items](
	[name] [text] NULL,
	[description] [text] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

INSERT INTO [dbo].[items] (name, description)
VALUES ('item1', 'hello from db!'), ('item2', 'hello again'), ('item3', 'test value')



GO
USE [master]
GO
